body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}
